* {
  user-select: none;
}

html,
body {
  width: 100%;
  margin: 0;
}

main {
  width: 85%;
  margin: auto;
}

blockquote {
  border-left: 5px solid gray;
  margin-left: 0;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #e6e6e6;
}

kbd {
  display: inline-block;
  color: #ff4483;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

figure {
  text-align: center;
}
figure > img {
  width: 95%;
}

h1 {
  font-size: 2.75rem;
  font-weight: bold;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul.list {
  list-style-type: disc;
  list-style-position: inside;
}
ul.list ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
  padding: 0;
}
ul.list ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
  padding: 0;
}
ul.list li {
  padding: 0.2rem 0 0.2rem 0;
}

ol.list {
  list-style-type: decimal;
  list-style-position: inside;
}
ol.list ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
  padding: 0;
}
ol.list ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
  padding: 0;
}
ol.list li {
  padding: 0.2rem 0 0.2rem 0;
}

div.md-list {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}

hr.hr {
  border: none;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.parse-code {
  display: flex;
  padding: 1rem;
  background-color: #2c2c2c;
}
.parse-code code.number {
  color: white;
  margin-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 1px solid white;
}
.parse-code code[lang] .token.line, .parse-code code[lang][lang=javascript] .token.line {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  min-height: 1rem;
}
.parse-code code[lang] .token.str, .parse-code code[lang][lang=javascript] .token.str {
  color: #ffad76;
}
.parse-code code[lang] .token.fn, .parse-code code[lang][lang=javascript] .token.fn {
  color: #76ff98;
}
.parse-code code[lang] .token.params, .parse-code code[lang][lang=javascript] .token.params {
  color: #76efff;
}
.parse-code code[lang] .token.v, .parse-code code[lang] .token.comma, .parse-code code[lang] .token.sc, .parse-code code[lang][lang=javascript] .token.v, .parse-code code[lang][lang=javascript] .token.comma, .parse-code code[lang][lang=javascript] .token.sc {
  color: white;
}
.parse-code code[lang] .token.t, .parse-code code[lang][lang=javascript] .token.t {
  color: #769bff;
}
.parse-code code[lang] .token.n, .parse-code code[lang][lang=javascript] .token.n {
  color: #b676ff;
}
.parse-code code[lang] .token.braket, .parse-code code[lang][lang=javascript] .token.braket {
  color: #fffd76;
}
.parse-code code[lang] .token.sign, .parse-code code[lang][lang=javascript] .token.sign {
  color: #ff7676;
}
.parse-code code[lang] .token.comment, .parse-code code[lang][lang=javascript] .token.comment {
  color: gray;
}
.parse-code code[lang] .token.subfn, .parse-code code[lang][lang=javascript] .token.subfn {
  color: #ff9a3c;
}
.parse-code code[lang] .token.dot, .parse-code code[lang][lang=javascript] .token.dot {
  color: white;
}

/*# sourceMappingURL=main.css.map */
